<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqindiaadmin.com.sqmobileadmin">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AdminLogin"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>


        <activity android:name=".Admin_Dashboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>

        <activity android:name=".CustomerData"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>

        <activity android:name=".FeedbackActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>

        <activity android:name=".EnquiryData"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>

        <activity android:name=".FullContacts"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">
        </activity>

    </application>

</manifest>